.promo {
    img{
      @media(max-width: $md4){
        opacity: 0.4;
      }
    }


  &__content {
    width: 100%;
    min-height: 500px;
    position: relative;
    z-index: 2;
    padding: 50px 15px;
    *:not(:last-child){
      margin-bottom: 30px;
    }
    @media(max-width: $md3){
      padding: 20px 5px;
      min-height: 300px;
    }

  }

  &__header {
    color: $color_white;
    @media(max-width: $md4){
      text-align: center;
    }
  }

  &__info {
    font-family: $mainFont;
    color: rgba(255, 255, 255, .5);

    font-size: 19px;
    line-height: calc(29 / 19 * 100%);
    @media(max-width: $md4){
      color: rgba(255, 255, 255, .9);
      text-align: center;
    }
  }

  &__btn {
    
  }
}
