$mainFont: 'Julius Sans One', sans-serif;
$secondFont: 'Judson';

$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1440px;
$md1: 1452px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

// colors
$color_black: #000;
$color_white: #fff;
$color_secondary: #565656;
$color_dark: #21243D;
$color_light: #ababab;
$color_bg: #0D1518;

