$mainFont: 'Julius Sans One', sans-serif;
$secondFont: 'Judson';

$minWidth: 320 + px;
$maxWidth: 1440 + px;
$maxWidthContainer: 1440 +px;
$md1: $maxWidthContainer + 12 + px;
$md2: 991.98 +px;
$md3: 767.98 +px;
$md4: 479.98 +px;

// colors
$color_black: #000;
$color_white: #fff;
$color_secondary: #565656;
$color_dark: #21243D;
$color_light: #ababab;
$color_bg: #0D1518;

